.topbar {
  display: flex;
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(30,30,30,1) 0%, rgba(30,30,30,1) 80%, rgba(45,96,116,1) 100%);  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

.topbar .name a {
  color: #F2EBEE;
  font-size: 36px;
  text-decoration: none;
  padding: 20px 20px 20px 35px;
}

.topbar .links a {
  color: #499EBF;
  font-size: 20px;
  text-decoration: none;
  padding: 15px;
  border-left: #499EBF solid 1px;
}

.topbar .links a:hover {
  color: #F2EBEE;
}

.social {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.social a img {
  width: 30px;
  padding: 10px;
}

.link-wrapper {
  display: flex;
  align-items: center;
}